[submodule "vendor/electrobun-dawn"]
	path = vendor/electrobun-dawn
	url = https://github.com/blackboardsh/electrobun-dawn.git
	shallow = true
[submodule "vendor/WebKit"]
	path = vendor/WebKit
	url = https://github.com/blackboardsh/WebKit.git
	shallow = true
